/* Give your page a fun background color */
body{
  background-color:#F6F1DF ;

}
/* Make the header and footer a different color from the background */
footer{
  background-color: #99D69D;
}

/* Align the h1 containing your name in the center of the header*/
h1{
  text-align: center;
  background-color: #99D69D;
}

/* Make your p tag a different color and italic */
p{
  color:red;
  font-style: italic;
}

/* Put a border around your image */
img{
  border: 7px solid #666;
  border-radius: 25px;

}

/* Change the font-family of your list */
ul{
  font-family: monospace;
  color: #2A06AC;
}
